@import "_normalize";
@import "_variables";
@import "_mixins";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $white;
  font-family: 'Space Grotesk', sans-serif;
}

